.column-right {
    margin-left: 30px
}

@media only screen and (max-width: 1068px) {
    .column-left {
        padding-right: 13px;
    }
    .column-right {
        padding-left: 13px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 735px) {
    .column-left {
        padding-right: 0;
    }
    .column-right {
        padding-left: 0;
        margin-left: 0;
    }
}

.hero {
    padding: 5em 0;
}

.column-intro {
    padding-bottom: 2em;
}

.divider {
    margin: 2em 0 4em;
}

main p,
main li {
    padding-bottom: 0.5em;
}

.date {
    font-size: 20px;
    font-weight: 500;
}

.footer-breadory {
    border: none;
}

section.policy p > a{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: none;
    -ms-hyphens: none;
     hyphens: none;
}